@model M発注先

@*発注先CD*@
<div class="">
    <div class="text">発注先CD</div>
    <div class="text"><input type="text" id="" name="" value="@Model.発注先親CD" readonly="" /></div>
    <div class="cls"></div>
</div>

@*発注先名1*@
<div class="">
    <div class="text">発注先名1</div>
    <div class=""><input type="text" id="" name="" value="@Model.発注先名1" readonly="" /></div>
    <div class="cls"></div>
</div>

@*発注先名2*@
<div class="">
    <div class="text">発注先名2</div>
    <div class=""><input type="text" id="" name="" value="@Model.発注先名2" readonly="" /></div>
    <div class="cls"></div>
</div>

@*発注先略称*@
<div class="">
    <div class="text">発注先略称</div>
    <div class=""><input type="text" id="" name="" value="@Model.発注先略称" readonly="" /></div>
    <div class="cls"></div>
</div>

@*カタカナ名*@
<div class="">
    <div class="text">カタカナ名</div>
    <div class=""><input type="text" id="" name="" value="@Model.カタカナ名" readonly="" /></div>
    <div class="cls"></div>
</div>

@*住所*@
<div class="">
    <div class="text">郵便番号</div>
    <div class="text"><input type="text" id="" name="" value="@Model.郵便番号" readonly="" /></div>
    <div class="cls"></div>

    <div class="text">住所1</div>
    <div class=""><input type="text" id="" name="" value="@Model.住所1" readonly="" /></div>
    <div class="cls"></div>

    <div class="text">住所2</div>
    <div class=""><input type="text" id="" name="" value="@Model.住所2" readonly="" /></div>
    <div class="cls"></div>
</div>

@*電話番号*@
<div class="">
    <div class="text">電話番号</div>
    <div class=""><input type="text" id="" name="" value="@Model.電話番号" readonly="" /></div>
    <div class="cls"></div>
</div>

@*FAX番号*@
<div class="">
    <div class="text">FAX番号</div>
    <div class=""><input type="text" id="" name="" value="@Model.FAX番号" readonly="" /></div>
    <div class="text">自動FAX番号</div>
    <div class=""><input type="text" id="" name="" value="@Model.自動FAX番号" readonly="" /></div>
    <div class="cls"></div>
</div>

@*備考欄*@
<div class="">
    <div class="text">備考</div>
    <div class=""><textarea name="" cols="30" rows="5" value="@Model.備考" readonly="" ></textarea></div>
    <div class="cls"></div>
</div>
